.logo,
    .main-body div {
        background-color: #605DEC;

        background-image: linear-gradient(120deg, #5654d6, #334ff3, #7107f1);

        background-size: 100%;
        background-repeat: repeat;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: xx-large;
    }

    .main-body {
        margin-top: 6em;
    }

    .main-body div.slogan {
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
    }

    .menu > a {
        color: #605DEC;
        text-decoration: none;
    }

    form .inner-form {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    form .inner-form {
        display: flexbox;
        justify-content: center;
    }

    form .inner-form .select-from,
    form .inner-form .select-to,
    form .inner-form .select-date {
        height: 100%;
        background: #fff;
        border: 0;
        display: block;
        width: 20%;
        padding: 10px;
        font-size: 16px;
        color: #333;
        border: 1px solid #e5e5e5;
    }

    form .search-for-trip {
        background: #605DEC;
        display: block;
        padding: 10px;
        font-size: 16px;
        width: 10%;
        color: white
    }


    .navbar-nav {
      flex-direction: row;
    }

    .navbar-nav .active{
        color: #605DEC;
    }
    
    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
      font-size: large;
    }

    .sign-up {
        background-color: #605DEC;
    }

    footer > div > a, p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    select option:hover{
        background-color: #5654d6;
    }

    footer > p{
        text-align: center;
    }

    #nav ul li a.active-page{
        color: #605DEC;
    }

    .btn-primary-2 {
        color: #fff;
        background-color: #605DEC;
        border-color: #605DEC;
    }

    .btn-2 {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        background-color: #605DEC;
        border-color: #605DEC;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
    }

    .license{
        text-align: center;
    }
